*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
li, a {
    text-decoration: none;
}

header {
    align-items: center;
    padding: 20px 10% ;
    padding-bottom: 0px;
}
.navs{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 3px solid black;
}
.logo{
    margin: 6px;
    padding: 12px 16px;
    background-color: rgb(99, 99, 241);
    border-radius: 100%;
}
.links{
    align-items: center;
}

.burger
{
    margin: 10px;  
    padding: 10px;  
    display: none;
    background-color: white;
    cursor: pointer;
    border: none;
    
}
nav ul{
    list-style: none;
    display: flex;
}
nav li{
    padding: 10px;
}

.navs ul:nth-of-type(1){
    flex-grow: 1;
}

@media (max-width: 700px){
    nav ul{
        display: none;
    }
    .burger{
        display: inline;
    }
    .body-main{
        flex-direction: column;
        justify-content: center;
        flex-grow: 1;
    }
    .body-main-sidepost{
        flex-direction: row-reverse;
        justify-content: space-between;
        /* border: 1px solid black; */
    }
    .secondary-body-posts{
        flex-direction: column;
        justify-content: center;
    }
}

main{
    margin: 20px 10%;
    /* background-color: blue; */
}

.post-date{
    font-weight:lighter;
    opacity: 60%;
    font-size: small;
}

.body-main{
    display: flex;
    justify-content: space-between;
    border-bottom: 3px solid black;
    gap: 20px;
    margin-top: 10px;
    padding-bottom: 10px;
}
.body-main-1, .body-main-2{
    flex-basis: 300px;
    flex-grow: 1;
    /* border: 1px solid black; */
}
.body-main img{
    width: 100%;
    height: 300px;
    object-fit: cover;
}
.body-main-2{
    display: flex;
    flex-direction: column;
    gap:20px
}
.content{
    font-size: small;
    color:gray;
}
.body-main-sidepost{
    display: flex;
    align-items:flex-start;
    gap: 10px;
}
.body-main-sidepost img{
    width: 200px;
    min-width: 40%;
    height: 120px;
    object-fit: cover;
}

.secondary-body-title{
    margin: 8px 0px;
}

/* .secondary-body-posts{
    display: flex;
    justify-content: space-between;
    gap: 20px;
    flex-wrap: wrap;
}
.post{
    flex-basis: 230px;
    flex-grow: 1;
} */

.post img{
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.secondary-body-posts {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 10px;
  }
.post {
    padding: 20px;
    font-size: 30px;
    text-align: left;
}

@media (max-width: 900px){
    .secondary-body-posts {
        grid-template-columns: auto auto;
    }
}
@media (max-width: 600px){
    .secondary-body-posts {
        grid-template-columns: auto;
    }
}